.DashboardItems {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	height: 85vh;
}

.Asset-List {
	min-width: 58vw;
	max-width: 58vw;
}

.Profile-Info {
	justify-content: center;
	float: right;
	width: 28vw;
}

.Chart {
	color: white;
	margin-top: 5%;
	height: 45%;
}

.Data {
	color: white;
	margin-top: 5%;
	height: 45%;
}
