.ContributorItems {
	min-height: 85vh;
	background: url(cont-background.png) center no-repeat;
}

.Contributor-Link {
	color: silver;
	text-decoration: none;
}

.Contributor-Link:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
