a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.Landing {
    background-color: #162b32;
    position: absolute;
    min-width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Landing-p {
    transform: translate(50%, 0%);
    max-width: 50%;
    background-color: inherit;
}

.Landing-header {
    background-color: inherit;
}

.Landing-about {
    min-height: 80vh;
    color: white;
}

.Landing-contact {
    min-height: 10vh;
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
}

.Navbar {
    min-height: 10vh;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}