.window {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #ffffff;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: calc(5px + 1vmin);
	color: #ffffff;
	text-align: center;
	min-width: 30%;
}
