

.login-button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #282c34;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    border:0.2em solid #FFFFFF;
    font-family:'Roboto',sans-serif;
    width: 14ch;
}

.login-button:hover {
    color:#000000;
    background-color:#FFFFFF;
    transition: all 0.2s ease-out;
}