*{overflow: hidden;}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.Landing {
    color: white;
    background: linear-gradient(-70deg, rgb(110,94,254) 30%, rgb(0,0,0) 30%);
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    font-size: calc(10px + 2vmin);
}

.Landing-header {
    flex-basis: 100%;
}

.Landing-p {
    width: 70vw;
}